html {
  font-family: Arial;
  font-size: 1.2em;
}

button {
  margin-left: auto;
}


section#rack {
  display: flex;
  margin: 1em 0;
}

section#rack kbd {
  //position: absolute;
  margin-right: auto;
}


form#field {
  margin-top: 2em;
}
#field input {
  width: 1.5ch;
  font-size: 2em;
  height: 1.5ch;
  text-align: center;
  border: none;
  border-bottom: 2px solid black;
  text-transform: uppercase;
}
 
kbd.tile {
  border-radius: 3px;
  border: 2px solid black;
  text-transform: capitalize;
  
  display: inline-block;
  width: 2ch;
  font-size: 2em;
  height: 2ch;
  text-align: center;
} 

kbd.played {
  display: none;
}

h1 {
  margin: 0.25em 0 .1em 0;
}
.subtitle {
  text-align: right;
}

ul#foundWords li {
  text-transform: capitalize;
}

p.gameStatus {
  font-size: 1em;
  padding: 0;
  margin: 0;
  margin-top: .4em;
}

section#challengeDetails {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
}

#stemProgressWrapper {
  display: flex;
  flex-direction: horizontal;
  margin-bottom: 0.5em;
}
#stemProgressWrapper p:last-child {
  margin-left: auto;
}

#currentStem {
  text-transform: uppercase;
}

body {
  display: flex;
}
.wrapper {
  margin: auto;
  display: flex;
  flex-direction: column;
}
