form#field {
  margin: 1em auto .5em 0;
  display: inline-flex;
  align-items: baseline;
  background-color: #505153;
  padding: 3px;
  border-radius: 3px;
}

#field input {
  width: 2.2rem;
  font-size: 1.9rem;
  text-align: center;
  border: none;
  text-transform: uppercase;
  margin-right: 3px;
  border-radius: 3px;
  height: 2.1rem;
}

#field input:last-child {
  margin-right: 0;
}

#field input:focus {
  outline: 2px solid #a00;
}

#field input.empty {
  background-color: #202123;
}

