.wrapper {
  margin: auto;
  display: flex;
  flex-direction: column;
  max-width: 480px;
  width: min(480px, 90%);
}
h1 {
  margin: 0.25em 0 .1em 0;
}

button {
  margin-left: auto;
}

select {
  margin-left: 0.25em;
}

section#challengeDetails {
  display: flex;
  flex-direction: column;
}
p.gameStatus {
  font-size: 1em;
  padding: 0;
  margin: 0;
  margin-top: .4em;
}
#stemProgressWrapper {
  display: flex;
  flex-direction: horizontal;
  margin-bottom: 0.5em;
}
#stemProgressWrapper p:last-child {
  margin-left: auto;
}
#currentStem {
  text-transform: uppercase;
}
#stemSelect, #stemSelect option {
  text-transform: uppercase;
}



.subtitle {
  text-align: right;
  margin-bottom: 2em;
}

.buttonWrapper {
  display: flex;
  flex-direction: row;
}
.buttonWrapper button {
  margin-left: 1em;
}
.buttonWrapper button:first-child {
  margin-left: auto;
}


ul#foundWords li {
  text-transform: capitalize;
}
ul#foundWords li span{
  text-transform: none;
  color: #333;
  font-size: .8em;
  margin-left: .5em;
}
ul#foundWords {
}

