#rack {
  display: flex;
  margin: 1rem 0 .4rem 0;

  background-image: -ms-linear-gradient(to top, #a00 80%, rgba(0,0,0,0) 20%);
  background-image: -o-linear-gradient(to top, #a00 80%, rgba(0,0,0,0) 20%);
  background-image: -moz-linear-gradient(to top, #a00 80%, rgba(0,0,0,0) 20%);
  background-image: -webkit-linear-gradient(to top, #a00 80%, rgba(0,0,0,0) 20%);
  background-image: linear-gradient(to top, #a00 80%, rgba(0,0,0,0) 20%);

  padding-left: .4rem;
  border-radius: 4px;
  border-bottom: 6px solid red;
  min-height: 2.5rem;
}

#rack kbd {
  margin: auto 3px 3px 0;
}
#rack kbd:last-child {
  margin-right: auto;
}


