#rack {
  display: flex;
  margin: 1em 0 .4em 0;
  min-height: 50px;
}
#rack kbd {
  margin: .15em .3em .15em 0;
  margin-left: 0;
}
#rack kbd:last-child {
  margin-right: auto;
}
kbd.tile {
  border-radius: 3px;
  border: 2px solid black;
  text-transform: capitalize;
  
  display: inline-block;
  width: 2ch;
  font-size: 2em;
  height: 2ch;
  text-align: center;
} 
kbd.played {
  display: none;
}

